services:
  backend:
    build: .
    container_name: fishing-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app/server
      - ./server/instance:/app/server/instance 
    command: flask run --host=0.0.0.0 --port=5000