[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cloudinary = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
dotenv = "*"
pydantic = "*"
langchain = "*"
langchain-openai = "*"
duckduckgo-search = "*"
langchain-community = "*"
wikipedia = "*"
dateparser = "*"
geopy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
